@media only screen and (max-width:768px){
    header .navbar-brand{
        padding-left:1rem;
    }

    header .container .heading .head h1{
        margin-left: -2rem;
        width: 10rem;
        padding: 0px;
        font-size: 10vmin;
    }

    header .container .heading .head p{
        margin-left: -7.5rem;
        padding: 0px;
        width: 20rem;
        font-size: 4vmin;
    }

    .section-1 {
        height: 230vmin;
    }

    .section-1 h2 {
        font-size: 10vmin;
    }
    
    .section-2 .cover{
        background-size: 300%;
    }

    .section-2 .cover h2{
        font-size: 10vmin;
    }

    .section-2 .cover p{
        display: none;
    }


    .section-2 .row {
        display: block;
        padding-left: 40vmin;
        padding-right: 45vmin;
    }

    .section-2 .row img{
        width: 200px;
        height: 200px;
        display: initial;
    }
    .section-2 .row h5{
        width: 200px;
        font-size: 6vmin;
    }

    .section-2 .row p{
        width: 300px;
        font-size: 4vmin;
    }

    .section-3 .left::after {
        left: 18px;
      }


    .section-3 .right::after {
        left: 13px;
      }
    
    .section-3 .heading h2{
        font-size: 10vmin;
    }

    .section-3 .content p{
        font-size: 2.5vmin;
        text-align: left;
    }

    .section-3 .container .content img{
        margin-left: 3vmin;
    }

    .section-4 .clevel{
        margin-left: 3vmin;
    }

    .section-5{
        height:inherit;
        padding:10vmin !important;
    }

    .section-5 h1{
        padding: 6vmin 4vmin;
    }

    .section-5 .container {
        text-align: center !important;
    }

    .section-5 .box{
        display:none;
    }

    .section-5 .box i{
        font-size: 8vmin;
    }

    .section-5 .contactInfo {
        margin-left: 5vmin;
        margin-right: 5vmin;
    }

    .section-5 .contactInfo p{
        font-size: 4vmin;
        width: 40vmin;
    }
    
    .section-5 .contactForm{
        margin-top: 140vmin;
        margin-left: -51vmin;
        display:block;
    }

    .section-5 .contactForm .inputBox{
        width: 300px;
		color: white;
		border:none;
		cursor:pointer;
		padding:0px;
		font-size:20px;
        font-family: var(--Lato-font);
    }

        footer .row .col-md-2{
            margin-top: 8vmin;
        }
   
}