@media only screen and (max-width:768px){
    header .navbar-brand{
        padding-left:1rem;
    }

    header .col-md-7 {
        margin-bottom: -30vmin;
    }

    header .col-md-5 img {
        margin-left: 2vmin;
        margin-right: 5vmin;
        margin-bottom: 5vmin;
        width:31.25rem;
        height:31.25rem;
    }

    .section-1 .row .col-md-6 .panel{
        position:initial;
        width:initial;
        height:initial;
    }

    .section-2 .cover{
        background-position: -25vmin -10vmin;
    }

    .section-2 .cover .content h2{
        padding-top:7vmin;
        font-size: 10vmin;
    }

    .section-2 .cover .content p{
        display: none;
    }

    .section-3 .row {
        display: block;
        padding-left: 45vmin;
        padding-right: 45vmin;
    }

    .section-3 img{
        width: 200px;
        height: 200px;
        display: initial;
    }
    .section-3 h5{
        width: 200px;
        font-size: 6vmin;
    }

    .section-3 p{
        width: 15.625rem;
        font-size: 4vmin;
    }

    .numbers .rect{
        width: 10rem;
        height: 8rem;
    }

    .numbers .rect h1{
        font-size:2rem;
    }

    .section-4 .carousel-item{
        padding-left:0.6rem;
    }

    .section-4 .portfolio{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-4 .sukaasih{
        margin-left: -6vmin;
    }

    .section-4 .project2{
        margin-left: -6vmin;
    }

    .section-4 .project3{
        margin-left: -6vmin;
    }


    .section-4 .carousel-inner{
        width:24rem;
    }

    .section-5{
        height:inherit;
        padding:10vmin !important;
    }

    .section-5 h1{
        padding: 6vmin 4vmin;
    }

    .section-5 .container {
        text-align: center !important;
    }

    .section-5 .box{
        display:none;
    }

    .section-5 .box i{
        font-size: 8vmin;
    }

    .section-5 .contactInfo {
        margin-left: 5vmin;
        margin-right: 5vmin;
    }

    .section-5 .contactInfo p{
        font-size: 4vmin;
        width: 40vmin;
    }
    
    .section-5 .contactForm{
        margin-top: 140vmin;
        margin-left: -51vmin;
        display:block;
    }

    .section-5 .contactForm .inputBox{
        width: 300px;
		color: white;
		border:none;
		cursor:pointer;
		padding:0px;
		font-size:20px;
        font-family: var(--Lato-font);
    }

        footer .row .col-md-2{
            margin-top: 8vmin;
        }
   
}