@media only screen and (max-width:768px){
    header .navbar-brand{
        padding-left:1rem;
    }

    header .container .heading .head{
        width:700px;
    }

    header .container .heading .head h1{
        margin-right: 200px;
        margin-left: -35px;
        padding: 0px;
        width: 190px;
    }

    header .container .heading .head p{
        margin-right: 200px;
        margin-left: -35px;
        padding: 0px;
        width: 190px;
    }

    .section-1 {
        height: 230vmin;
    }
    
    .section-2 .cover{
        background-size: 300%;
    }

    .section-2 .cover h1{
        font-size: 7vmin;
    }

    .section-2 .cover p{
        display: none;
    }


    .section-2 .row {
        display: block;
        padding-left: 45vmin;
        padding-right: 45vmin;
    }

    .section-2 img{
        width: 200px;
        height: 200px;
        display: initial;
    }
    .section-2 h5{
        width: 200px;
        font-size: 6vmin;
    }

    .section-2 p{
        width: 300px;
        font-size: 3vmin;
    }

    .section-3 .left::after {
        left: 18px;
      }


    .section-3 .right::after {
        left: 13px;
      }

    .section-3 .content p{
        font-size: 2.5vmin;
        text-align: left;
    }

    .section-4 .clevel{
        margin-left: 3vmin;
    }

    .section-5{
        height:inherit;
        padding:10vmin !important;
    }

    .section-5 h1{
        padding: 6vmin 4vmin;
    }

    .section-5 .container {
        text-align: center !important;
    }

    .section-5 .box{
        display:none;
    }

    .section-5 .box i{
        font-size: 8vmin;
    }

    .section-5 .contactInfo {
        margin-left: 5vmin;
        margin-right: 5vmin;
    }

    .section-5 .contactInfo p{
        font-size: 3vmin;
        width: 35vmin;
    }
    
    .section-5 .contactForm{
        margin-top: 120vmin;
        margin-left: -51vmin;
        display:block;
    }

    .section-5 .contactForm .inputBox{
        width: 300px;
		color: white;
		border:none;
		cursor:pointer;
		padding:0px;
		font-size:20px;
        font-family: var(--Lato-font);
    }

    footer .row .col-md-2{
        margin-top: 8vmin;
    }
   
}