@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Poppins:wght@100;200&display=swap');

*{
    box-sizing: border-box;
}

header, 
section{
    overflow-x: hidden;

}

:root{
    --Lato-font:"Lato", cursive;
    --Poppins:"Poppins", cursive; 
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(
        to bottom,
        #2471A3, #45B39D);
    --light-gray: rgba(255,255,255,0.877);
}

header a{
    font-family: var(--Lato-font);
    font-size: 0.9em;
    color: var(--bggradient);
}

.nav-item a{
    font-family: var(--Lato-font);
    font-size: 0.9em;
    color: var(--bggradient);
}

header{
    background: #2471A3;
    background: var(--bggradient);

}

nav{
    background: white;
    color: var(--bggradient);

}

header .nav-item:last-child{
    padding-right: 10.5em;
}

header .nav-item{
    padding: 0.9em;
}

header .navbar-brand{
    padding-left:4rem;
}

header .nav-link:hover{
    color: #2471A3; 
}

header .row .col-md-5{
    padding:4.2vmin 1vmin;
}

header .row .col-md-7{
    padding:22vmin 1vmin;
    padding-bottom:35vmin;
    font-family:var(--Lato-font);
    color: white;
}

header .row .col-md-5 img{
    width:90%;
}

header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1{
    font-size: 8.5vmin;
    font-weight:bold;
    padding:0.1em 0em;
}

header .container .col-md-7 p{
    padding:1vmin 5vmin;
    font-family:var(--Poppins);
}

header .container .col-md-7 button{
    border-radius: 30px;
    font-weight: bold;
}

.section-1{
    padding:20vmin 0;
}

.section-1 .row .col-md-6 .Team img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child{
    position:relative;
}

.section-1 .row .col-md-6 .panel{
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow:0px 25px 42px rgba(0,0,0,0.2);
    font-family: var(--Lato-font);
    z-index:1;
}

.section-1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p{
    font-size: 0.9em;
    color: rgba (0,0,0,0.5);
    font-family:var(--Poppins);

}

.section-2 {
    padding-bottom: 3vmin;
}
.section-2 .cover{
    width: 100%;
    height:55vmin;
    background:url(https://images-global.nhst.tech/image/Vkp3RDBpZXJaQXA5SFdiazh6MGc0cTErOUxVV2UzKzhHYWdVWEYzWkZPWT0=/nhst/binary/07ea5c8f09621fdd19358b8e68797d20);
    background-position:-24rem -19rem;
    background-size:150%;
    position:relative;

}

.section-2 .cover .content{
    background: rgba(0,0,0,0.7);
    height:100%;
    width:100%;
    padding-top:19vmin;
    padding-right: 5vmin;
    padding-left: 5vmin;
}

.section-2 .cover .content>h1{
    font-family:var(--Lato-font);
    font-size:6vmin;
    color:whitesmoke; 
}

.section-2 .cover .content>p{
    font-family:var(--Poppins);
    font-size:2vmin;
    color:whitesmoke; 
    line-height:1.5;

}

.section-2 .numbers .rect{
    position: relative;
    z-index:1;
    background: var(--bggradient);
    width: 17rem;
    height:12rem;
    padding-top:3.5vmin;
    margin:1rem;
    border-radius:0.5em;
    box-shadow: 1px 2px 50px 0px #2471A3;
    font-family:var(--Lato-font)

}

.section-2 .numbers .rect h1{
    font-size:3.5rem;
    color: whitesmoke;
}

.section-3 .value {
    background: var(--bggradient);
}

.section-3 .value .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    font-size:2vmin;
    color: white;

}

.section-3 .value h2{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
    font-family: var(--Lato-font);
    color: whitesmoke;
}

.section-3 .value h5{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 1.3em;
    font-family: var(--Lato-font);
}

.section-4 .container h1{
    font-size:6vmin;
    padding-top:10vmin;

}

.section-4 .container p{
    font-family:var(--Poppins);
}

.section-4 .portfolio {
    padding: 6vmin 4vmin;
}

.section-4 .card{
    width: 22rem;
    margin:5vmin;
}

.section-4 .card .card-text{
    padding:0.5em;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

.section-4 .card .card-body>a{
    font-size:1.5em;
}

.border-radius{
    border-radius:340px;
    width:60%;
}

.section-5{
    height:100%;
    margin-top:15vmin;
    background:var(--bggradient);
}

.section-5 .contact{
	min-height: 100vh;
	padding:10px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-5 .content{
max-width:700px;
text-align:center;
}

.section-5 .heading h1{
font-size: 36px;
font-weight:500;
color:#fff;}

.section-5 .content p{
font-weight:300;
color:#fff;
}

.section-5 .container{
width:90%;
display:flex;
margin-top:20px;
}

.section-5 .container .contactInfo{
width:50%;
display:flex;
flex-direction:column;
}

.section-5 .container .contactInfo .box{
padding: 20px 0;
display: flex;
}

.section-5 .container .contactInfo .box .icon{
min-width:60px;
height:60px;
background:#fff;
display: flex;
justify-content: center;
align-items:center;
border-radius:50%;
font-size:3vmin;
}
	
.section-5 .container .contactInfo .box .text{
	display:flex;
	margin-left:20px;
	font-size:2vmin;
	color:#fff;
	flex-direction:column;
	font-weight:300;}

.section-5 .contactForm{
		width: 30%;
        height: 30%;
		padding: 10px;
	}

.section-5 .contactForm h2{
		font-size:2vmin;
		font-weight:300;
	}

.section-5 .contactForm .inputBox{
		width:150%;
		margin-top:10px; 
	}

.section-5 .contactForm .inputBox input, 
.contactForm .inputBox textarea{
		width:100%;
		padding:5px 0;
		font-size: 16px;
		margin: 10px 0;
		border: none;
		outline:none;
		resize:none;
	}

.section-5 .inputBox{
		width: 300px;
		color: white;
		border:none;
		cursor:pointer;
		padding:0px;
		font-size:20px;
        font-family: var(--Lato-font);
	}



.section-5 .contactForm .inputBox input[type="submit"]{
		width: 100px;
		background: whitesmoke;
		color: black;
		border:none;
		cursor:pointer;
		padding:10px;
		font-size:18px;
        border-radius: 30px;
	}

.section-5 .contactForm .inputBox input[type="reset"]{
		width: 100px;
		background: whitesmoke;
		color: black;
		border:none;
		cursor:pointer;
		padding:10px;
		font-size:18px;
        border-radius: 30px;

	}

/*.section-3 .col-md-12 > h1{
    padding: 2em 0 0.5em 0;
    color:whitesmoke;
    font-size:6vmin;
}

.section-3 .col-md-12 > p{
    padding: 0.5em;
    padding-bottom:2em;
    color: whitesmoke;
    font-size:3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius:3em;
    padding:2vmin 6vmin;
}

.section-3 .desktop h3{
    font-size:5vmin;
}

.section-3 .desktop p{
    font-size:2vmin;
}

.section-3 .desktop i{
    height:150%;;
}*/



footer{
    background:rgba(0, 0, 0, 0.815);
    overflow-x:hidden;
    padding:14vmin 18vmin;
}

footer p>span{
    color: #2471A3; 
}

footer input{
    border: none !important;
}

footer input::placeholder{
    color: white !important;
}

footer .input-group .input-group-text{
    background:var(--bggradient);
    border:none;
}

footer a .fa{
    color: white;
}

footer.column a + a{
    padding: 0 0.5em;
}

.d-flex{
    margin-top:2vmin;
    height:70%;
}

.d-flex .btn{
    color:whitesmoke;
    border:none;
    background: var(--bggradient);
}

.input-group-text{
    height:101%;
}

.sticky{
    position:fixed;
    top:0;
    width: 100%;
    background: whitesmoke;
    z-index: 9999;
    transition: all 1.5s ease;

}


